 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TT_MKSU</title>
    <link rel="stylesheet" href="Timetable.css">
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/Timetable.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
<script src="{% static 'js/Timetable.js' %}"></script>
 </head>
 <body>
    
 <div>
      <h2>TimeTable</h2>
      <div class="container">
        <div class="timetable-img text-center">
          <img src="img/content/timetable.png" alt="" />
        </div>
        <div class="table-responsive">
          <table class="table table-bordered text-center">
            <thead>
             <strong> <tr class="bg-light-gray">
                <th class="text-uppercase">TIME</th>
                <th class="text-uppercase">MONDAY</th>
                <th class="text-uppercase">TUESDAY</th>
                <th class="text-uppercase">WEDNESDAY</th>
                <th class="text-uppercase">THURSDAY</th>
                <th class="text-uppercase">FRIDAY</th>
              </tr></strong>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle">
                  07:00am
                  <br />
                  to
                  <br />
                  08:00am
                </td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>

                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Design and Analysis of Algorithms
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Kimeu</div>
                  <div class="font-size13 text-light-gray">Lab 4</div>
                </td>
                <td class="bg-light-gray"> </td>
              </tr>

              <tr>
                <td class="align-middle">
                  08:00am
                  <br />
                  to
                  <br />
                  09:00am
                </td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"></td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Design and Analysis of Algorithms
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Kimeu</div>
                  <div class="font-size13 text-light-gray">Lab 4</div>
                </td>
                <td class="bg-light-gray"> </td>
              </tr>

              <tr>
                <td class="align-middle">
                  09:00am
                  <br />
                  to
                  <br />
                  10:00am
                </td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Design and Analysis of Algorithms
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Kimeu</div>
                  <div class="font-size13 text-light-gray">Lab 4</div>
                </td>
                <td class="bg-light-gray"> </td>
              </tr>

              <tr>
                <td class="align-middle">
                  10:00am
                  <br />
                  to
                  <br />
                  11:00am
                </td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Component Programming
                  </span>

                  <div class="font-size13 text-light-gray">Mr. George</div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>
                <td>
                  <span class="bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Computer Networks
                  </span>

                  <div class="font-size13 text-light-gray">
                    Ms. Veronica
                  </div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>
                <td class="bg-light-gray"></td>
              </tr>

              <tr>
                <td class="align-middle">
                  11:00am
                  <br />
                  to
                  <br />
                  12:00pm
                </td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Component Programming
                  </span>

                  <div class="font-size13 text-light-gray">Mr. George</div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>

                <td>
                  <span class="bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Computer Networks
                  </span>

                  <div class="font-size13 text-light-gray">
                    Ms. Veronica
                  </div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>
                <td class="bg-light-gray"> </td>
              </tr>
              <tr>
                <td class="align-middle">
                  12:00pm
                  <br />
                  to
                  <br />
                  01:00pm
                </td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Component Programming
                  </span>

                  <div class="font-size13 text-light-gray">Mr. George</div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>

                <td>
                  <span class="bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Computer Networks
                  </span>

                  <div class="font-size13 text-light-gray">
                    Ms. Veronica
                  </div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>
                <td class="bg-light-gray"> </td>
              </tr>
              <tr>
                <td class="align-middle">
                  01:00pm
                  <br />
                  to
                  <br />
                  02:00pm
                </td>
                <td>
                  <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Programming Languages
                  </span>

                  <div class="font-size13 text-light-gray">Ms. Mercy</div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Advanced Database Systems
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Kimathi</div>
                  <div class="font-size13 text-light-gray">EEE</div>
                </td>

                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
              </tr>
              <tr>
                <td class="align-middle">
                  02:00pm
                  <br />
                  to
                  <br />
                  03:00pm
                </td>
                <td>
                  <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Programming Languages
                  </span>

                  <div class="font-size13 text-light-gray">Ms. Mercy</div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>
                <td class="bg-light-gray"> </td>

                <td>
                  <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Advanced Database Systems
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Kimathi</div>
                  <div class="font-size13 text-light-gray">EEE</div>
                </td>
                <td class="bg-light-gray"></td>
                <td class="bg-light-gray"> </td>
              </tr>
              <tr>
                <td class="align-middle">
                  03:00pm
                  <br />
                  to
                  <br />
                  04:00pm
                </td>
                <td>
                  <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Programming Languages
                  </span>

                  <div class="font-size13 text-light-gray">Ms. Mercy</div>
                  <div class="font-size13 text-light-gray">General Lab</div>
                </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Advanced Database Systems
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Kimathi</div>
                  <div class="font-size13 text-light-gray">EEE</div>
                </td>

                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
              </tr>
              <tr>
                <td class="align-middle">
                  04:00pm
                  <br />
                  to
                  <br />
                  05:00pm
                </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Software Project Management
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Omuya</div>
                  <div class="font-size13 text-light-gray">
                    Engineering Lab
                  </div>
                </td>
                <td class="bg-light-gray"></td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
              </tr>
              <tr>
                <td class="align-middle">
                  05:00pm
                  <br />
                  to
                  <br />
                  06:00pm
                </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Software Project Management
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Omuya</div>
                  <div class="font-size13 text-light-gray">
                    Engineering Lab
                  </div>
                </td>
                <td class="bg-light-gray"></td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
              </tr>
              <tr>
                <td class="align-middle">
                  06:00pm
                  <br />
                  to
                  <br />
                  07:00pm
                </td>
                <td class="bg-light-gray"> </td>
                <td>
                  <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">
                    Software Project Management
                  </span>

                  <div class="font-size13 text-light-gray">Mr. Omuya</div>
                  <div class="font-size13 text-light-gray">
                    Engineering Lab
                  </div>
                </td>
                <td class="bg-light-gray"></td>
                <td class="bg-light-gray"> </td>
                <td class="bg-light-gray"> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>
</html>